<h1>Development Guide</h1>

<section class="doc__section">
    <h2 class="doc__header">Conventions</h2>

    <p>Stick to base html tags with little to no extra styling. When css is
    required, <a href="https://css-tricks.com/bem-101/">BEM</a> conventions
    should be followed. When possible (and when styles are not intended to be
    shared accross pages), create a <code>.css</code> file per
    <code>.html</code> view file.</p>
</section>

<section class="doc__section">
    <h2 class="doc__header">Text</h2>

    <h1>Section</h1>
    <h2>Sub-section</h2>
    <h3>Sub-sub-section</h3>

    <p>This is a paragraph with <code>a snipped</code> of code.</p>

    <p>Et ultrices posuere cubilia Curae; Proin luctus, odio eu porttitor
    adipiscing, ante elit tristique tortor, sit amet malesuada tortor nisi sit
    amet neque.  Praesent rhoncus eros non velit. Pellentesque mattis. Sed sit
    amet ante. Mauris ac nibh eget risus volutpat tempor. Praesent volutpat
    sollicitudin dui. Sed in tellus id urna viverra commodo. Vestibulum enim
    felis, interdum non, sollicitudin in, posuere a, sem. Cras nibh.</p>

    <p>Sed facilisis ultrices dolor. Vestibulum pretium mauris sed turpis.
    Phasellus a pede id odio interdum elementum. Nam urna felis, sodales ut,
    luctus vel, condimentum vitae, est. Vestibulum ut augue. Nunc laoreet
    sapien quis neque semper dictum. Phasellus rhoncus.</p>

    <pre><code>; a block of code

(defun factorial (n)
    (if (= n 0) 1
        (* n (factorial (- n 1)))))</code></pre>
</section>

<section class="doc__section">
    <h2 class="doc__header">Sample Page</h2>

    <h1>Events Page</h1>
    <h2>Name of event</h2>
    <h3>Section of information about event</h3>
</section>
