.doc__header {
    border-top: 1px solid rgb(213, 213, 213);
    font-style: italic;
    margin-top: 30px;
    padding-top: 30px;
    position: relative;
    text-transform: lowercase;
}

.doc__header::before {
    background-color: rgba(255, 92, 92, .7);
    content: '\00a0';
    left: -20px;
    position: absolute;
    width: 2px;
}

[markup-viewer] + [markup-viewer] {
    border-top: 1px solid rgb(244, 244, 244);
    margin-top: 40px;
}

.markdown-viewer-output {
    margin-top: 10px;
}
